interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://zenodo.org/api/records?q=conceptrecid%3A11196858&all_versions=true&sort=mostrecent&page=1&size=10
  response:
    body:
      string: '{"hits": {"hits": [{"created": "2025-08-19T09:18:46.244708+00:00",
        "modified": "2025-08-19T09:18:46.419885+00:00", "id": 16901115, "conceptrecid":
        "11196858", "doi": "10.5281/zenodo.16901115", "conceptdoi": "10.5281/zenodo.11196858",
        "doi_url": "https://doi.org/10.5281/zenodo.16901115", "metadata": {"title":
        "Data Citation Corpus Data File", "doi": "10.5281/zenodo.16901115", "publication_date":
        "2025-08-15", "description": "<p>Data file for the fourth release of the Data
        Citation Corpus, produced by DataCite and Make Data Count as part of an ongoing
        grant project funded by the Wellcome Trust. <a href=\"https://makedatacount.org/data-citation/\">Read
        more about the project</a>.</p>\n<p>The data file includes 10,697,745 data
        citation records (of which 9,682,257 represent unique dataset-publication
        pairs) in JSON and CSV formats. The JSON file is the version of record.</p>\n<p>Data
        is provided in batches of approximately 1 million records each. The publication
        date and batch number are included in the file name, ex: 2025-08-15-data-citation-corpus-01-v4.1.json.</p>\n<p>The
        data citations in the file originate from the following sources:</p>\n<ul>\n<li>DataCite
        Event Data</li>\n<li>Chan Zuckerberg Initiative (CZI) Science Knowledge Graph</li>\n<li>Aligning
        Science Across Parkinson&rsquo;s (ASAP)</li>\n<li>Europe PMC</li>\n</ul>\n<p>Each
        data citation record is comprised of:</p>\n<ul>\n<li>\n<p>A pair of identifiers:
        An identifier for the dataset (a DOI or an accession number) and the DOI of
        the publication (journal article or preprint) in which the dataset is cited&nbsp;&nbsp;</p>\n</li>\n<li>\n<p>Metadata
        for the cited dataset and for the citing publication&nbsp;</p>\n</li>\n</ul>\n<p>The
        data file includes the following fields:</p>\n<div>\n<table>\n<tbody>\n<tr>\n<td>\n<p>Field</p>\n</td>\n<td>\n<p>Description</p>\n</td>\n<td>\n<p>Required?</p>\n</td>\n</tr>\n<tr>\n<td>\n<p>id</p>\n</td>\n<td>\n<p>Internal
        identifier for the citation</p>\n</td>\n<td>\n<p>Yes</p>\n</td>\n</tr>\n<tr>\n<td>\n<p>created</p>\n</td>\n<td>\n<p>Date
        of item''s incorporation into the corpus</p>\n</td>\n<td>\n<p>Yes</p>\n</td>\n</tr>\n<tr>\n<td>\n<p>updated</p>\n</td>\n<td>\n<p>Date
        of item''s most recent update in corpus</p>\n</td>\n<td>\n<p>Yes</p>\n</td>\n</[...]
