interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://reporter.nih.gov/services/Projects/Publications?projectId=10808782
  response:
    body:
      string: "{\"meta\":{\"search_id\":null,\"total\":1,\"offset\":0,\"limit\":0,\"sort_field\":null,\"sort_order\":null,\"sorted_by_relevance\":false,\"properties\":{}},\"results\":[{\"core_project_num\":\"K01DA058152\",\"era_pub_id\":null,\"pm_id\":39458976,\"pmc_id\":11509978,\"pub_title_link\":{\"key\":\"The
        Interplay of Exogenous Cannabinoid Use on Anandamide and 2-Arachidonoylglycerol
        in Anxiety: Results from a Quasi-Experimental Ad Libitum Study.\",\"value\":\"https://www.ncbi.nlm.nih.gov/pmc/articles/11509978\"},\"pub_title\":\"The
        Interplay of Exogenous Cannabinoid Use on Anandamide and 2-Arachidonoylglycerol
        in Anxiety: Results from a Quasi-Experimental Ad Libitum Study.\",\"pub_date\":\"2024
        Oct 06\",\"journal_title_link\":{\"key\":\"Pharmaceuticals (Basel, Switzerland)\",\"value\":\"https://pubmed.ncbi.nlm.nih.gov/39458976\"},\"journal_title\":\"Pharmaceuticals
        (Basel, Switzerland)\",\"journal_volume\":\"17\",\"journal_issue\":\"10\",\"page_number\":null,\"issn\":\"1424-8247\",\"author_list\":\"Martin-Willett,
        Ren\xE9e; Skrzynski, Carillon J; Taylor, Ethan M; Sempio, Cristina; Klawitter,
        Jost; Bidwell, L Cinnamon\",\"language\":\"eng\",\"country\":\"Switzerland\",\"author_affiliation\":\"Department
        of Psychology & Neuroscience, University of Colorado Boulder, Boulder, CO
        80309, USA.\",\"pub_year\":2024,\"journal_title_abbr\":\"Pharmaceuticals (Basel)\",\"last_revison_date\":null,\"j_id\":null,\"mesh_date\":\"2024-10-26T19:23:00\",\"pub_status\":null,\"other_related_grants\":\"F31AA029632;R01DA044131\",\"appl_id\":10808782,\"pmc_release_date\":\"2024-10-06T00:00:00\",\"total_publications\":0,\"total_core_projects\":0,\"total_records\":0,\"related_pub_med_links\":{\"key\":\"Related,
        PubMed\",\"value\":\"https://pubmed.ncbi.nlm.nih.gov/?Db=pubmed&DbFrom=pubmed&Cmd=Link&LinkName=pubmed_pubmed&IdsFromResult=39458976&ordinalpos=1&itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_DiscoveryPanel.Pubmed_Discovery_RA&log$=relatedarticles&logdbfrom=pubmed\"},\"related_pub_med_google\":{\"key\":\"Related,
        Google Scholar\",\"value\":\"https://scholar.google.com/scholar?q=related:https://pmc.ncbi.nlm.nih.gov/articles/PMC11509978/\"},\"article_pub_med_central\":{\"key\":\"Cited
        By, PMID\",\"value\":\"https://pubmed.ncbi.nlm.nih.gov/?linkname=pubmed_pubmed_citedin&from_uid=39458976\"},\"article_citing_google\":{\"key\":\"Cited
        By, Google\",\"value\":\"https://scholar.google.com/scholar?hl=en&lr=&cites=https://pmc.ncbi.nlm.nih.gov/articles/PMC11509978/\"},\"relative_citation_ratio\":null}],\"facet_results\":[]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - 1m
      X-Rate-Limit-Remaining:
      - '199'
      X-Rate-Limit-Reset:
      - '2025-07-29T02:46:36.0199013Z'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.ncbi.nlm.nih.gov/pmc/utils/idconv/v1.0/?ids=39458976&format=json&idtype=pmid&tool=dmptool-workflow&versions=no
  response:
    body:
      string: '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <html><head>

        <title>301 Moved Permanently</title>

        </head><body>

        <h1>Moved Permanently</h1>

        <p>The document has moved <a href="https://pmc.ncbi.nlm.nih.gov/tools/idconv/api/v1/articles/?ids=39458976&amp;format=json&amp;idtype=pmid&amp;tool=dmptool-workflow&amp;versions=no">here</a>.</p>

        </body></html>

        '
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
      Location:
      - https://pmc.ncbi.nlm.nih.gov/tools/idconv/api/v1/articles/?ids=39458976&format=json&idtype=pmid&tool=dmptool-workflow&versions=no
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://pmc.ncbi.nlm.nih.gov/tools/idconv/api/v1/articles/?ids=39458976&format=json&idtype=pmid&tool=dmptool-workflow&versions=no
  response:
    body:
      string: '{"status":"ok","response-date":"2025-07-28 22:45:41","request":{"warnings":["query
        param `email` is missing."],"versions":"no","format":"json","idtype":"pmid","ids":["39458976"],"tool":"dmptool-workflow","echo":"ids=39458976&format=json&idtype=pmid&tool=dmptool-workflow&versions=no","showaiid":"no"},"records":[{"doi":"10.3390/ph17101335","pmcid":"PMC11509978","pmid":39458976,"requested-id":"39458976"}]}'
    headers:
      allow:
      - GET, HEAD, OPTIONS
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
