interactions:
- request:
    body: '{"criteria": {"fiscal_years": [], "project_num_split": {"activity_code":
      "R01", "ic_code": "HL", "serial_num": "126896"}}, "include_fields": ["ApplId",
      "ProjectNum"], "limit": 500}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.reporter.nih.gov/v2/projects/search
  response:
    body:
      string: '{"meta":{"search_id":"wfiBbuObNUuSPhi-Idjl1A","total":7,"offset":0,"limit":500,"sort_field":null,"sort_order":"ASC","sorted_by_relevance":true,"properties":{"URL":"https:/reporter.nih.gov/search/wfiBbuObNUuSPhi-Idjl1A/projects"}},"results":[{"appl_id":10893225,"project_num":"7R01HL126896-07"},{"appl_id":10447089,"project_num":"5R01HL126896-06"},{"appl_id":10198989,"project_num":"5R01HL126896-05"},{"appl_id":9971166,"project_num":"2R01HL126896-04A1"},{"appl_id":9527861,"project_num":"5R01HL126896-03"},{"appl_id":9335940,"project_num":"5R01HL126896-02"},{"appl_id":9029501,"project_num":"1R01HL126896-01A1"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - 1m
      X-Rate-Limit-Remaining:
      - '199'
      X-Rate-Limit-Reset:
      - '2025-08-11T02:37:16.2101097Z'
      api-supported-versions:
      - '2.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://reporter.nih.gov/services/Projects/Publications?projectId=10893225
  response:
    body:
      string: "{\"meta\":{\"search_id\":null,\"total\":47,\"offset\":0,\"limit\":0,\"sort_field\":null,\"sort_order\":null,\"sorted_by_relevance\":false,\"properties\":{}},\"results\":[{\"core_project_num\":\"R01HL126896\",\"era_pub_id\":null,\"pm_id\":39084333,\"pmc_id\":11775230,\"pub_title_link\":{\"key\":\"A
        novel multimodal, intraoperative cognitive workload assessment of cardiac
        surgery team members.\",\"value\":\"\"},\"pub_title\":\"A novel multimodal,
        intraoperative cognitive workload assessment of cardiac surgery team members.\",\"pub_date\":\"2025
        Jul\",\"journal_title_link\":{\"key\":\"The Journal of thoracic and cardiovascular
        surgery\",\"value\":\"https://pubmed.ncbi.nlm.nih.gov/39084333\"},\"journal_title\":\"The
        Journal of thoracic and cardiovascular surgery\",\"journal_volume\":\"170\",\"journal_issue\":\"1\",\"page_number\":\"287-296\",\"issn\":\"1097-685X\",\"author_list\":\"Kennedy-Metz,
        Lauren R; Conboy, Heather M; Liu, Anna; Dias, Roger D; Harari, Rayan E; Gikandi,
        Ajami; Shapeton, Alexander; Clarke, Lori A; Osterweil, Leon J; Avrunin, George
        S; Chaspari, Theodora; Yule, Steven; Zenati, Marco A\",\"language\":\"eng\",\"country\":\"United
        States\",\"author_affiliation\":\"Department of Psychology, Roanoke College,
        Salem, Va; Medical Robotics & Computer-Assisted Surgery Laboratory, Harvard
        Medical School, Boston, Mass; Division of Cardiac Surgery, Veterans Affairs
        Boston Healthcare System, West Roxbury, Mass. Electronic address: kennedymetz@roanoke.edu.\",\"pub_year\":2025,\"journal_title_abbr\":\"J
        Thorac Cardiovasc Surg\",\"last_revison_date\":null,\"j_id\":null,\"mesh_date\":\"2025-06-24T13:14:00\",\"pub_status\":null,\"other_related_grants\":\"R01HL157457;R56HL157457\",\"appl_id\":10893225,\"pmc_release_date\":\"2026-07-01T00:00:00\",\"total_publications\":0,\"total_core_projects\":0,\"total_records\":0,\"related_pub_med_links\":{\"key\":\"Related,
        PubMed\",\"value\":\"https://pubmed.ncbi.nlm.nih.gov/?Db=pubmed&DbFrom=pubmed&Cmd=Link&LinkName=pubmed_pubmed&IdsFromResult=39084333&ordinalpos=1&itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_DiscoveryPanel.Pubmed_Discovery_RA&log$=relatedarticles&logdbfrom=pubmed\"},\"related_pub_med_google\":{\"key\":\"Related,
        Google Scholar\",\"value\":\"https://scholar.google.com/scholar?q=related:https://pmc.ncbi.nlm.nih.gov/articles/PMC11775230/\"},\"article_pub_med_central\":{\"key\":\"Cited
        By, PMID\",\"value\":\"https://pubmed.ncbi.nlm.nih.gov/?linkname=pubmed_pubmed_citedin&from_uid=39084333\"},\"article_citing_google\":{\"key\":\"Cited
        By, Google\",\"value\":\"https://scholar.google.com/scholar?hl=en&lr=&cites=https://pmc.ncbi.nlm.nih.gov/articles/PMC11775230/\"},\"relative_citation_ratio\":null},{\"core_project_num\":\"R01HL126896\",\"era_pub_id\":null,\"pm_id\":39083274,\"pmc_id\":11292454,\"pub_title_link\":{\"key\":\"Deep
        Learning Analysis of Surgical Video Recordings to Assess Nontechnical Skills.\",\"value\":\"https://www.ncbi.nlm.nih.gov/pmc/articles/11292454\"},\"pub_title\":\"Deep
        Learning Analysis of Surgical Video Recordings to Assess Nontechnical Skills.\",\"pub_date\":\"2024
        Jul 01\",\"journal_title_link\":{\"key\":\"JAMA network open\",\"value\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.ncbi.nlm.nih.gov/pmc/utils/idconv/v1.0/?ids=39084333%2C39083274%2C39184954%2C39076411%2C39076410%2C39081305%2C37112231%2C37497240%2C37838385%2C33931232%2C35937956%2C34171871%2C33773815%2C35984653%2C35994041%2C36037053%2C33327770%2C33160616%2C33644703%2C31348036%2C34676380%2C34148709%2C32863172%2C35253018%2C31630837%2C32938323%2C34350424%2C34723287%2C31629782%2C33227967%2C32989966%2C33659965%2C31295623%2C30936587%2C30578828%2C31548741%2C30851373%2C30119285%2C30140792%2C30547096%2C30506066%2C30729236%2C30740198%2C30815055%2C29465749%2C28752132%2C27706489&format=json&idtype=pmid&tool=dmptool-workflow&versions=no
  response:
    body:
      string: '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <html><head>

        <title>301 Moved Permanently</title>

        </head><body>

        <h1>Moved Permanently</h1>

        <p>The document has moved <a href="https://pmc.ncbi.nlm.nih.gov/tools/idconv/api/v1/articles/?ids=39084333%2C39083274%2C39184954%2C39076411%2C39076410%2C39081305%2C37112231%2C37497240%2C37838385%2C33931232%2C35937956%2C34171871%2C33773815%2C35984653%2C35994041%2C36037053%2C33327770%2C33160616%2C33644703%2C31348036%2C34676380%2C34148709%2C32863172%2C35253018%2C31630837%2C32938323%2C34350424%2C34723287%2C31629782%2C33227967%2C32989966%2C33659965%2C31295623%2C30936587%2C30578828%2C31548741%2C30851373%2C30119285%2C30140792%2C30547096%2C30506066%2C30729236%2C30740198%2C30815055%2C29465749%2C28752132%2C27706489&amp;format=json&amp;idtype=pmid&amp;tool=dmptool-workflow&amp;versions=no">here</a>.</p>

        </body></html>

        '
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
      Location:
      - https://pmc.ncbi.nlm.nih.gov/tools/idconv/api/v1/articles/?ids=39084333%2C39083274%2C39184954%2C39076411%2C39076410%2C39081305%2C37112231%2C37497240%2C37838385%2C33931232%2C35937956%2C34171871%2C33773815%2C35984653%2C35994041%2C36037053%2C33327770%2C33160616%2C33644703%2C31348036%2C34676380%2C34148709%2C32863172%2C35253018%2C31630837%2C32938323%2C34350424%2C34723287%2C31629782%2C33227967%2C32989966%2C33659965%2C31295623%2C30936587%2C30578828%2C31548741%2C30851373%2C30119285%2C30140792%2C30547096%2C30506066%2C30729236%2C30740198%2C30815055%2C29465749%2C28752132%2C27706489&format=json&idtype=pmid&tool=dmptool-workflow&versions=no
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://pmc.ncbi.nlm.nih.gov/tools/idconv/api/v1/articles/?ids=39084333%2C39083274%2C39184954%2C39076411%2C39076410%2C39081305%2C37112231%2C37497240%2C37838385%2C33931232%2C35937956%2C34171871%2C33773815%2C35984653%2C35994041%2C36037053%2C33327770%2C33160616%2C33644703%2C31348036%2C34676380%2C34148709%2C32863172%2C35253018%2C31630837%2C32938323%2C34350424%2C34723287%2C31629782%2C33227967%2C32989966%2C33659965%2C31295623%2C30936587%2C30578828%2C31548741%2C30851373%2C30119285%2C30140792%2C30547096%2C30506066%2C30729236%2C30740198%2C30815055%2C29465749%2C28752132%2C27706489&format=json&idtype=pmid&tool=dmptool-workflow&versions=no
  response:
    body:
      string: '{"status":"ok","response-date":"2025-08-10 22:36:32","request":{"warnings":["query
        param `email` is missing."],"versions":"no","format":"json","idtype":"pmid","ids":["39084333","39083274","39184954","39076411","39076410","39081305","37112231","37497240","37838385","33931232","35937956","34171871","33773815","35984653","35994041","36037053","33327770","33160616","33644703","31348036","34676380","34148709","32863172","35253018","31630837","32938323","34350424","34723287","31629782","33227967","32989966","33659965","31295623","30936587","30578828","31548741","30851373","30119285","30140792","30547096","30506066","30729236","30740198","30815055","29465749","28752132","27706489"],"tool":"dmptool-workflow","echo":"ids=39084333%2C39083274%2C39184954%2C39076411%2C39076410%2C39081305%2C37112231%2C37497240%2C37838385%2C33931232%2C35937956%2C34171871%2C33773815%2C35984653%2C35994041%2C36037053%2C33327770%2C33160616%2C33644703%2C31348036%2C34676380%2C34148709%2C32863172%2C35253018%2C31630837%2C32938323%2C34350424%2C34723287%2C31629782%2C33227967%2C32989966%2C33659965%2C31295623%2C30936587%2C30578828%2C31548741%2C30851373%2C30119285%2C30140792%2C30547096%2C30506066%2C30729236%2C30740198%2C30815055%2C29465749%2C28752132%2C27706489&format=json&idtype=pmid&tool=dmptool-workflow&versions=no","showaiid":"no"},"records":[{"doi":"10.1016/j.jtcvs.2024.07.050","live":false,"pmcid":"PMC11775230","pmid":39084333,"release-date":"2026-07-01","requested-id":"39084333"},{"doi":"10.1001/jamanetworkopen.2024.22520","pmcid":"PMC11292454","pmid":39083274,"requested-id":"39083274"},{"doi":"10.54941/ahfe1004831","pmcid":"PMC11342855","pmid":39184954,"requested-id":"39184954"},{"pmcid":"PMC11285016","pmid":39076411,"requested-id":"39076411"},{"pmcid":"PMC11285017","pmid":39076410,"requested-id":"39076410"},{"pmcid":"PMC11287473","pmid":39081305,"requested-id":"39081305"},{"doi":"10.3390/s23083890","pmcid":"PMC10145698","pmid":37112231,"requested-id":"37112[...]
