interactions:
- request:
    body: '{"criteria": {"fiscal_years": [], "project_nums": ["5P41GM108569-08"]},
      "include_fields": ["ApplId", "ProjectNum"], "limit": 500}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.reporter.nih.gov/v2/projects/search
  response:
    body:
      string: '{"meta":{"search_id":"yKPlhkJ620uZT-OZA8BejQ","total":7,"offset":0,"limit":500,"sort_field":null,"sort_order":"ASC","sorted_by_relevance":true,"properties":{"URL":"https:/reporter.nih.gov/search/yKPlhkJ620uZT-OZA8BejQ/projects"}},"results":[{"appl_id":10438555,"project_num":"5P41GM108569-08"},{"appl_id":10438551,"project_num":"5P41GM108569-08"},{"appl_id":10438547,"project_num":"5P41GM108569-08"},{"appl_id":10438553,"project_num":"5P41GM108569-08"},{"appl_id":10438552,"project_num":"5P41GM108569-08"},{"appl_id":10438554,"project_num":"5P41GM108569-08"},{"appl_id":10438548,"project_num":"5P41GM108569-08"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - 1m
      X-Rate-Limit-Remaining:
      - '197'
      X-Rate-Limit-Reset:
      - '2026-02-27T02:29:49.0982438Z'
      api-supported-versions:
      - '2.0'
    status:
      code: 200
      message: OK
version: 1
