interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.research.gov/awardapi-service/v1/awards.json?id=2234213
  response:
    body:
      string: "{\"response\":{\"metadata\":{\"totalCount\":1,\"rpp\":25,\"offset\":0},\"award\":[{\"abstractText\":\"Groundwater
        is a critical resource for society, but information related to its use is
        limited. The goals of this research are to improve our understanding of where
        and how much groundwater is used. The research outcomes will be directly relevant
        to water managers, irrigators, and policy makers, benefiting society. The
        PI will use Hydrologic Sciences Workshops and Scientist Spotlight activities
        to integrate research into the education of undergrad[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.research.gov/awardapi-service/v1/awards.json?id=0
  response:
    body:
      string: '{"response":{"metadata":{"totalCount":0,"rpp":25,"offset":0},"award":[]}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: ''
version: 1
