interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.research.gov/awardapi-service/v1/awards.json?id=0802290&printFields=publicationResearch
  response:
    body:
      string: "{\"response\":{\"award\":[{\"publicationResearch\":[\"Deep Sea Research
        II~2012~65~Cooper, L.W., M. Janout, K.E. Frey, R. Pirtle-Levy, M. Guarinello,
        J.M. Grebmeier, and J.R. Lovvorn~10.1016/j.dsr2.2012.02.002~141-162~The relationship
        between chlorophyll biomass, water mass variation, and sea ice melt timing
        in the northern Bering Sea~N~\",\"Marine Ecology Progress Series~2009~393~Cui,
        X., J. M. Grebmeier, L. W. Cooper, J. R. Lovvorn, C. A. North, and J. M. Kolts~147~Spatial
        distributions of ground[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works?query.title=Spatial+distributions+of+groundfish+in+the+northern+Bering+Sea+in+relation+to+environmental+variation&query.container-title=Marine+Ecology+Progress+Series
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":113802,"items":[{"indexed":{"date-parts":[[2024,3,1]],"date-time":"2024-03-01T19:49:25Z","timestamp":1709322565376},"reference-count":0,"publisher":"Inter-Research
        Science Center","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Mar.
        Ecol. Prog. Ser."],"published-print":{"date-parts":[[2009,10,30]]},"DOI":"10.3354\/meps08275","type":"journal-article","created":{"date-parts":[[2009,9,8]],"date-time":"2009-09-08T09:01:48Z","timestamp":1252400508000},"page":"147-160","source":"Crossref","is-referenced-by-count":25,"title":["Spatial
        distributions of groundfish in the northern Bering Sea in relation to environmental
        variation"],"prefix":"10.3354","volume":"393","author":[{"given":"X","family":"Cui","sequence":"first","affiliation":[]},{"given":"JM","family":"Grebmeier","sequence":"additional","affiliation":[]},{"given":"LW","family":"Cooper","sequence":"additional","affiliation":[]},{"given":"JR","family":"Lovvorn","sequence":"additional","affiliation":[]},{"given":"CA","family":"North","sequence":"additional","affiliation":[]},{"given":"WL","family":"Seaver","sequence":"additional","affiliation":[]},{"given":"JM","family":"Kolts","sequence":"additional","affiliation":[]}],"member":"1913","container-title":["Marine
        Ecology Progress Series"],"language":"en","link":[{"URL":"http:\/\/www.int-res.com\/articles\/meps2009\/393\/m393p147.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2009,10,30]],"date-time":"2009-10-30T08:12:36Z","timestamp":1256890356000},"score":85.282715,"resource":{"primary":{"URL":"http:\/\/www.int-res.com\/abstracts\/meps\/v393\/p147-160\/"}},"issued":{"date-parts":[[2009,10,30]]},"references-count":0,"URL":"https:\/\/doi.org\/10.3354\/meps08275","ISSN":["0171-8630","1616-1599"],"issn-type":[{"value":"0171-8630","type":"print"},{"value":"1616-1599","type":"electronic"}],"published":{"date-parts":[[2009,10,30]]}},{"indexed":{"date-parts":[[2024,4,7]],"date-time":"2024-04-07T11:56:12Z","timestamp":1712490972095},"reference-count":0,"publisher":"Inter-Research
        Science Center","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Mar.
        Ecol. Prog. Ser."],"published-print":{"date-parts":[[2010,5,20]]},"DOI":"10.3354\/meps08575","type":"journal-article","created":{"date-parts":[[2010,3,12]],"date-time":"2010-03-12T09:05:31Z","times[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works?query.title=Ocean+acidification+at+High+Latitudes%3A+The+Bellwether&query.container-title=Oceanography
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":7144,"items":[{"indexed":{"date-parts":[[2025,7,28]],"date-time":"2025-07-28T21:27:16Z","timestamp":1753738036076},"reference-count":0,"publisher":"The
        Oceanography Society","issue":"4","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Oceanog."],"published-print":{"date-parts":[[2009,12,1]]},"DOI":"10.5670\/oceanog.2009.105","type":"journal-article","created":{"date-parts":[[2011,9,8]],"date-time":"2011-09-08T16:31:40Z","timestamp":1315499500000},"page":"160-171","source":"Crossref","is-referenced-by-count":329,"title":["Ocean
        Acidification at High Latitudes: The Bellwether"],"prefix":"10.5670","volume":"22","author":[{"given":"Victoria","family":"Fabry","sequence":"first","affiliation":[]},{"given":"James","family":"McClintock","sequence":"additional","affiliation":[]},{"given":"Jeremy","family":"Mathis","sequence":"additional","affiliation":[]},{"given":"Jacqueline","family":"Grebmeier","sequence":"additional","affiliation":[]}],"member":"3658","container-title":["Oceanography"],"link":[{"URL":"https:\/\/tos.org\/oceanography\/assets\/docs\/22-4_fabry.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2019,7,9]],"date-time":"2019-07-09T17:58:01Z","timestamp":1562695081000},"score":62.54399,"resource":{"primary":{"URL":"https:\/\/tos.org\/oceanography\/article\/ocean-acidification-at-high-latitudes-the-bellwether"}},"issued":{"date-parts":[[2009,12,1]]},"references-count":0,"journal-issue":{"issue":"4","published-print":{"date-parts":[[2009,12,1]]}},"URL":"https:\/\/doi.org\/10.5670\/oceanog.2009.105","ISSN":["1042-8275"],"issn-type":[{"value":"1042-8275","type":"print"}],"published":{"date-parts":[[2009,12,1]]}},{"indexed":{"date-parts":[[2022,4,4]],"date-time":"2022-04-04T20:12:57Z","timestamp":1649103177284},"reference-count":0,"publisher":"The
        Oceanography Society","issue":"1","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["oceano[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works?query.title=Biological+Response+to+Recent+Pacific+Arctic+Sea+Ice+Retreats&query.container-title=Eos+Transactions+of+the+American+Geophysical+Union
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":108516,"items":[{"indexed":{"date-parts":[[2025,5,17]],"date-time":"2025-05-17T04:27:39Z","timestamp":1747456059029},"reference-count":8,"publisher":"American
        Geophysical Union (AGU)","issue":"18","license":[{"start":{"date-parts":[[2011,6,3]],"date-time":"2011-06-03T00:00:00Z","timestamp":1307059200000},"content-version":"vor","delay-in-days":395,"URL":"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#vor"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["EoS
        Transactions"],"published-print":{"date-parts":[[2010,5,4]]},"abstract":"<jats:p>Although
        recent major changes in the physical domain of the Arctic region, such as
        extreme retreats of summer sea ice since 2007, are well documented, large
        uncertainties remain regarding responses in the biological domain. In the
        Pacific Arctic north of Bering Strait, reduction in sea ice extent has been
        seasonally asymmetric, with minimal changes until the end of June and delayed
        sea ice formation in late autumn. The effect of extreme ice retreat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works?query.title=Walruses+attack+spectacled+eiders+wintering+in+pack+ice+of+the+Bering+Sea&query.container-title=Arctic
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2619,"items":[{"indexed":{"date-parts":[[2025,5,31]],"date-time":"2025-05-31T09:23:44Z","timestamp":1748683424484},"reference-count":0,"publisher"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.crossref.org/works?query.title=Modeling+marine+protected+areas+for+threatened+eiders+in+a+climatically+shifting+Bering+Sea&query.container-title=Ecological+Applications
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":29943,"items":[{"indexed":{"date-parts":[[2025,5,31]],"date-time":"2025-05-31T17:23:01Z","timestamp":1748712181[...]
[...]
