interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.research.gov/awardapi-service/v1/awards.json?id=2132549
  response:
    body:
      string: "{\"response\":{\"metadata\":{\"totalCount\":1,\"rpp\":25,\"offset\":0},\"award\":[{\"abstractText\":\"This
        exploratory project will test FAIR (Findable, Accessible, Interoperable, and
        Reusable) data principles for Open Science purposes in a comprehensive manner
        for field station data gathering on the Pacific atoll of Tetiaroa.  This project
        is a timely opportunity to leverage the new field station on the atoll of
        Tetiaroa which has close ties to U.S. institutions through the University
        of California, including a nearby NSF Long Term Ecological Research (LTER)
        site, as well as international research programs.  \\r\\n\\r\\nPlace-based
        data have a unique quality in that they span the sciences and humanities with
        time and space (geolocation) acting as foundational metadata used to assign
        data to \u201Cplace\u201D (or nested \u201Cplaces\u201D). The FAIR Island
        Project will build interoperability between pieces of critical research infrastructure
        -- Data Management Plans (DMPs), research practice, DOIs, and publications
        contributing to the advancement and adoption of Open Science.\\r\\n\\r\\nThis
        award reflects NSF's statutory mission and has been deemed worthy of support
        through evaluation using the Foundation's intellectual merit and broader impacts
        review criteria.\",\"agency\":\"NSF\",\"awardAgencyCode\":\"4900\",\"awardeeAddress\":\"1111
        FRANKLIN ST FL 8\",\"awardeeCity\":\"OAKLAND\",\"awardeeCountryCode\":\"US\",\"awardeeDistrictCode\":\"CA12\",\"awardeeDistrict\":\"12\",\"awardeeName\":\"University
        of California, Office of the President, Oakland\",\"awardeeStateCode\":\"CA\",\"awardeePhone\":\"5109879850\",\"awardeeZipCode\":\"946075201\",\"cfdaNumber\":\"47.070\",\"pi\":[\"John
        Chodacki john.chodacki@ucop.edu\"],\"coPDPI\":[\"Neil Davies ndavies@moorea.berkeley.edu\",\"Erin
        M Robinson erin@metadatagamechangers.com\",\"Matthew J Buys matt.buys@datacite.org\"],\"ueiNumber\":\"PKK5TD16N4H1\",\"estimatedTotalAmt\":\"296234\",\"fundsObligatedAmt\":\"296234\",\"fundAgencyCode\":\"4900\",\"fundProgramName\":\"NSF
        Public Access Initiative\",\"id\":\"2132549\",\"parentUeiNumber\":\"\",\"pdPIName\":\"John
        Chodacki\",\"perfAddress\":\"1111 Franklin Street\",\"perfCity\":\"Oakland\",\"perfCountryCode\":\"US\",\"perfDistrict\":\"12\",\"perfDistrictCode\":\"CA12\",\"perfLocation\":\"University
        of California, Office of the President, Oakland\",\"perfStateCode\":\"CA\",\"perfZipCode\":\"946075200\",\"piEmail\":\"john.chodacki@ucop.edu\",\"piFirstName\":\"John\",\"piLastName\":\"Chodacki\",\"poEmail\":\"plsmith@nsf.gov\",\"poName\":\"Plato
        Smith\",\"poPhone\":\"7032924278\",\"primaryProgram\":[\"01002122DB NSF RESEARCH
        & RELATED ACTIVIT\"],\"publicAccessMandate\":\"1\",\"projectOutComesReport\":\"<div
        class=\\\"porColContainerWBG\\\">\\n<div class=\\\"porContentCol\\\"><p>The
        FAIR Island Project has significantly improved field station data management
        and research practices over the past three years. Here are the key outcomes:<br
        /><strong>Developed Place-based Data Policies</strong><br />We created and
        refined a place-based data policy for Tetiaroa Ecostation, which set clear
        data management and compliance expectations. This policy was also adapted
        into a generic version for other field stations, downloaded over 100 times
        on Zenodo. To support the adoption of these policies, we developed a comprehensive
        toolkit, including templates and guides for field station administrators.
        These resources have empowered field stations to effec[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.research.gov/awardapi-service/v1/awards.json?id=2132549&printFields=publicationResearch
  response:
    body:
      string: "{\"response\":{\"metadata\":{\"totalCount\":1,\"rpp\":25,\"offset\":0},\"award\":[{\"abstractText\":\"This
        exploratory project will test FAIR (Findable, Accessible, Interoperable, and
        Reusable) data principles for Open Science purposes in a comprehensive manner
        for field sta[...]
